
.login{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('../images/login_bg.png');
    background-color: #867f7f69;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right top, right top, left bottom;
    position: relative;
    &-con{
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 950px;
        &-header{
            font-size: 16px;
            font-weight: 300;
            text-align: left;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(226,235,242,1);
            .title {
                color: #445077;
                font-size: 22px;
                font-weight: 500;
            }
        }
        .activate-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            color: rgba(51,51,51,1);
            opacity: 1;
            margin: 20px 0
        }
        .form-con{
            box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 30px 60px;
            background: #fff;
            border-radius: 8px;
        }
        .form-title-style {
            text-align: center;
            line-height: 50px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .login-form-con{
            box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 40px 60px;
            background: #fff;
            border-radius: 8px;
        }
        .login-tip{
            font-size: 10px;
            text-align: center;
            color: #c3c3c3;
        }
    } 
    .ivu-form-item-label {
        font-size: 13px
    }
}
.register {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('../images/login_bg.png');
    background-repeat: no-repeat, no-repeat, no-repeat;  
    background-position: right top, right top, left bottom; 
    position: relative;
    &-con{
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 950px;
        &-header{
            font-size: 16px;
            font-weight: 300;
            // text-align: center;
            .title {
                color: #333333;
                font-size: 22px;
                font-weight: 500;
            }
        }
        .activate-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            color: rgba(51,51,51,1);
            opacity: 1;
            margin: 20px 0
        }
        .form-con{
            // box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 33px;
            background: #fff;
            border-radius: 8px;
        }
        .form-title-style {
            text-align: center;
            line-height: 50px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .login-form-con{
            // box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 40px 35px;
            background: #fff;
            border-radius: 8px;
        }
        .login-tip{
            font-size: 10px;
            text-align: center;
            color: #c3c3c3;
        }
    }
    .ivu-form-item-label {
        font-size: 13px
    }
    
}
.forget-password{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('../images/login_bg.png');
    background-repeat: no-repeat, no-repeat, no-repeat;  
    background-position: right top, right top, left bottom; 
    position: relative;
    //display:flex;
    //min-height:712px;
    &-con{
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 950px;
        &-header{
            font-size: 16px;
            font-weight: 300;
            // text-align: center;
            .title {
                color: #333333;
                font-size: 22px;
                font-weight: 500;
            }
        }
        .activate-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            color: rgba(51,51,51,1);
            opacity: 1;
            margin: 20px 0
        }
        .form-con{
            // box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 33px;
            background: #fff;
            border-radius: 8px;
        }
        .form-title-style {
            text-align: center;
            line-height: 50px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .forget-password-con{
            // box-shadow: 0px 10px 30px rgba(123,211,243,0.23);
            padding: 25px 40px 35px;
            background: #fff;
            border-radius: 8px;
        }
        .login-tip{
            font-size: 10px;
            text-align: center;
            color: #c3c3c3;
        }
    } 
    .ivu-form-item-label {
        font-size: 13px
    }
}
.logo-row{
    padding-top: 25px
}
.logo-con{
    height: 40px
}
.logo {
    //position: absolute; 
    //right: 30px;
    //top: 20px;
}
.lang-con{
    height: 30px
}
.lang {
    //position: absolute; 
    //right: 30px;
    //padding: 20px;
    margin-left:10px;
    .lang-item {
        font-size: 16px;
        cursor: pointer;
    }
    .selected {
        color: #fff;
        background: #929296
    }
}