.ivu-shrinkable-menu{
    height: 100%;
    // width: 100%;
    .sideSmall {
        .ivu-icon{
            color: #fff;
        }
        .layout-text{
            opacity: 0;
            transition: opacity 0.05s .05s;

        }
    }
    .layout-text {
        opacity: 1;
        transition: opacity 0.05s 0.05s;
    }
    .con-team-icon {
        color: #F0F0F0 !important;
        background-color: #6c7483;
        display: block;
        width: 100%;
        height: 20px;
        text-align: center;
    }
}
.ivu-menu-submenu-title > i, 
.ivu-menu-submenu-title span > i, 
.ivu-menu-item > i{
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
}
.vue-scroller-bars-content {
    height: 100% !important;
}
.navicon-con {
    text-align: center;
  }
  .navicon-con .ivu-btn-text {
    height: 30px;
    color: #ffffff;
    border-radius: 0;
    &:focus{
        box-shadow: none;
    }
  }
.transMenu{
    height: 42px;
    padding: 5px 0 10px;
    cursor: pointer;
    &:hover{
        background-color: rgba(44, 49, 66, 0.25);
        .ivu-btn-text{
            color: #ffffff;
        }
    }
}

.ivu-menu-dark {
    background: rgb(73, 80, 96);
}
.main-hide-text .ivu-menu-vertical .ivu-menu-item-group-title {
    padding-left: 12px !important;
    font-size: 12px;
}
.ivu-menu-item > i {
    margin-right: 10px !important;
    margin-bottom: 5px
}
.ivu-menu-item-group {
    line-height: 1.5 !important;
}
.copyRight {
    width: 95%;
    position: absolute;
    left: 0;
    bottom: 15px;
    text-align: center;
    color: #ddd;
    z-index: 1;
}
