.exeute-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.exeute-title p {
    font-size: 14px;
    color: #169bd5;
    cursor: pointer;
}
.card-poptip {
    position: absolute;
    right: 20px;
    top: 15px;
}
.card-help {
    font-size: 18px; 
    color: #ffd562;
}
.card-help:hover {
    cursor: pointer;
}
.infor-intro-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1890FF;
    border-radius: 50%;
    margin-right: 8px;
}
.card-info {
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    width: 33%;
}
.card-info h2 {
    font-size: 30px;
}
.card-info span{
    color:#999;
}
.card-info-hover:hover{
    cursor: pointer;
}
.toolTip {
    margin-left: 15px;
}
.model-title {
    display: flex;
}
.model-title span{
    display: inline-block;
    width: 5px;
    height: 25px;
    background: #2d8cf0;
    margin-right: 15px;
}
.model-title h2 {
    margin-bottom: 10px;
}
.search {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 15px;
    
}
.search p {
    width: 15%;
}
.resetBtn {
    background:#ccc;
    color: #fff;
    margin-left:50px;
}
.padding-top-13 {
    padding-top: 13px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}







