.infor-card-con {
    color: #999999;
    // height: 150px;
    padding: 0 20px;
    font-size: 15px;
}
.infor-card-con h2,.info-card-icon{
    color: #333;
    font-size: 33px;
}
.info-card-icon {
    margin:0 10px;
}
.infor-card-icon-con{
    height: 100%;
    color: #d9dcff
}
.height-100{
    height: 100%;
}
.card-title-name {
    width: 100%;
    padding: 20px 20px 10px 20px;
}
.card-title-name span{
    font-size:18px;
    color: #82878D;
}
.card-help-icon {
    float:right;
}
.card-poptip {
    position: absolute;
    right: 20px;
    top: 20px;
}
.card-help {
    font-size: 18px; 
    color: #D6D5D5;
}
.card-detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-detail-bottom p {
    color: #5489F9;
    font-size: 40px;
}
.card-detail-work-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.card-detail-work-bottom p {
    color: #5489F9;
    font-size: 40px;
}
.card-detail-all {
    position: absolute;
    top: 58px;
    left: 39px;
    font-size: 14px;
    color: #F7BF20;
}
.card-detail-right {
    display: flex;
}
.divider {
    width: 1px;
    margin: 24px 15px;
    background: #E8ECF0;
}
.card-detail-digit {
    text-align: center;
}
.card-detail-digit p:nth-of-type(1){
    font-size: 40px;
}
.card-detail-digit p:nth-of-type(2) {
    margin-top: 10px;
    font-size: 14px;
    color:#999999;
}
.card-title-info {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90%;
}
.infor-intro-text{
    font-size:14px;
    color: rbga(0,0,0,0.7);
    text-align: center;
}
.infor-intro-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1890FF;
    border-radius: 50%;
    margin-right: 8px;
}
.card-bottom {
    color: #c7c9c8
}
.card-count-info{
    display: flex;
}
.card-count-title{
    font-size: 14px;
    color: #999999;
}
.card-count-icon{
    margin-left:15px;
    margin-right:15px;
}
.home-main .ivu-card-bordered {
    border: none!important
}
.home-card {
    border-radius: 8px;
}
@media only screen and (max-width: 1400px) {
    .card-detail-top img {
        width: 100px;
    }
    .card-detail-digit p:nth-of-type(1) {
        font-size: 35px;
    }
    .card-detail-bottom img {
        width: 115px;
    }
    .card-detail-bottom p {
        font-size: 35px;
    }
}
@media only screen and (max-width: 1400px) {
    .card-detail-work-bottom img {
        width: 100px;
    }
    .card-detail-work-bottom p {
        font-size: 35px;
    }
    .card-title-name p span {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1200px) {
    .card-detail-digit p:nth-of-type(1) {
        font-size: 20px;
    }
    .card-detail-bottom p {
        font-size: 20px;
        margin-right: 80px;
    }
}
@media only screen and (max-width: 1200px) {
    .card-detail-work-bottom img {
        width: 95px;
    }
    .card-detail-work-bottom p {
        font-size: 30px;
    }
    .card-title-name p span {
        font-size: 15px;
    }
}
@media only screen and (max-width: 992px) {
    .card-detail-top img {
        width: 100px;
    }
    .card-detail-digit p:nth-of-type(1) {
        font-size: 25px;
    }
    .card-detail-bottom img {
        width: 115px;
    }
    .card-detail-bottom p {
        font-size: 25px;
    }
}
@media only screen and (max-width: 992px) {
    .card-detail-work-bottom img {
        width: auto;
    }
    .card-detail-work-bottom p {
        font-size: 40px;
    }
    .card-title-name p span {
        font-size: 18px;
    }
}
// .home-card:hover {
//     background-image: url(../../../../images/tu.png);
//     background-size: cover;
//     background-position: 0 0;
//     border-radius: 8px;
//     box-shadow: 0 6px 14px rgba(73, 90, 251,.65);
// }
// .home-card:hover .card-icon{
//     color: #ffffff!important
// }
// .home-card:hover .card-help{
//     color: #ffffff!important
// }
// .home-card:hover .card-count{
//     color: #ffffff!important
// }
// .home-card:hover .card-count-title{
//     color: #ffffff!important
// }
// .home-card:hover .height-100{
//     color: #ffffff!important
// }
// .home-card:hover .height-100 .card-count{
//     color: #ffffff!important
// }
// .home-card:hover .card-bottom{
//     color: #ffffff!important
// }